[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=Game Backup Monitor
Comment=Monitors games and backs up their savegames
Comment[de]=Beobachtet Spiele und sichert ihre Spielstände

Path=/usr/local/bin
TryExec=mono
Exec=mono gbm
Terminal=false

Icon=gbm
Categories=Utility;Archiving;Monitor
