Package: gbm
Architecture: all
Maintainer: <MAINTAINER>
Priority: optional
Version: <VERSION>
Homepage: https://mikemaximus.github.io/gbm-web/
Bugs: https://github.com/MikeMaximus/gbm/issues
Depends: mono-vbnc, libsqlite3-0, p7zip-full
Recommends: libnotify-bin
Description: Automatically backup your saved games!
